<h1>datatable </h1>

<div class="mat-elevation-z4">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- User name Definition -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Age Definition -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
    </ng-container>

    <!-- Title Definition -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.rating}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Director </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.director}} </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedNameColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedNameColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">

  </mat-paginator>
</div>
