<h1>Progress bar and spinner</h1>

<mat-progress-bar mode="buffer" [value]="loadingPercent" [bufferValue]="" color="primary"></mat-progress-bar>
<br>
<mat-progress-bar mode="determinate" [value]="loadingPercent" [bufferValue]="" color="warn"></mat-progress-bar>
<br>
<mat-progress-bar mode="determinate" [value]="loadingPercent" [bufferValue]="" color="accent"></mat-progress-bar>


<br>
<h1>Loading - waiting case</h1>
<mat-progress-bar mode="buffer" [value]="queryValue" [mode]="queryMode" color="warn"></mat-progress-bar>
<br>
