<p>
  tabs works!
</p>


  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="500ms">
      <mat-tab label="tab1">
          tabbody
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label="">
          <mat-icon class="tab-icon">settings</mat-icon>
          Tab name
        </ng-template>
        tabbody
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label="">
        <mat-icon class="tab-icon">person</mat-icon>
       Person
      </ng-template>
      tabbody
  </mat-tab>
  </mat-tab-group>

  <br><br>


<h1>Simple tabs - streech and below</h1>

  <mat-tab-group headerPosition="below" class="mat-elevation-z4" mat-stretch-tabs="true" mat-align-tabs="center" animationDuration="500ms">
    <mat-tab label="tab1">
        tabbody
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label="">
        <mat-icon class="tab-icon">settings</mat-icon>
        Tab name
      </ng-template>
      tabbody
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label="">
      <mat-icon class="tab-icon">person</mat-icon>
     Person
    </ng-template>
    tabbody
</mat-tab>
</mat-tab-group>

<h1>Simple tabs - color</h1>

  <mat-tab-group headerPosition="below" class="mat-elevation-z4" color="warn" backgroundColor="primary">
    <mat-tab label="tab1">
        tabbody
    </mat-tab>
    <mat-tab>
      <div class="mat-tab">
        <ng-template mat-tab-label="">
          <mat-icon class="tab-icon">settings</mat-icon>
         settings
        </ng-template>
        <h1>Settings</h1>
        <p>adsfsdif sdfoiajsdfpoisjd dspafoijasdf asdpofijsa dfpoaisdjf paodsifjjsak dfsadhfhpsdo</p>
       </div>
  </mat-tab>
  <mat-tab>
    <div class="mat-tab">
    <ng-template mat-tab-label="">
      <mat-icon class="tab-icon">person</mat-icon>
     Person
    </ng-template>
    <h1>Person</h1>
    <p>adsfsdif sdfoiajsdfpoisjd dspafoijasdf asdpofijsa dfpoaisdjf paodsifjjsak dfsadhfhpsdo</p>
   </div>
</mat-tab>
</mat-tab-group>

